html {
    padding: 0;
    margin: 0;
    height: 100%;
    overscroll-behavior: none;
    position: sticky;
}

body{
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    overscroll-behavior: none;
    position: sticky;
    background-color: #A8D0E6;
}

h1{
    padding: 0;
    margin: 0;
    border: 0;
    position: sticky;
}
